:root {
    --clr-main: #4c4d57;
    --clr-secondary: #717eff;
    --clr-highlight: #3be5af;
    --clr-light: #cce2e6;
    --clr-dark: #574c52;
    --clr-white: #e2edf0;
}

body{
    background-color: rgb(190, 190, 190);
    font-family: 'Kanit';

}

.book-container {
    margin-top: 100px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: row;
}


img {
    width: 30%;
    height: 30%;
    margin-left: 50px;

}


.book-info {
    margin-left: 50px;
}

.book-info h1 {
    color: black;
}


.description {
    max-width: 800px;
}



header {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 10px;
    background-image: url('../assets/header_image.jpeg');
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h1 a {
    color: var(--clr-white);
    text-decoration: none;
}

header h1 a:hover {
    text-decoration: underline;
}

footer {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 10px;
    text-align: center;
}


h1 {
    color: white;
}

h2,
h3 {
    color: white;
}



a {
    color: white;
}


.logout-button {
    width: 90px;
    height: 33px;
    margin-top: 70px;
    margin-right: 10px;
    border-radius: 7px;
}

button:hover {
    background-color: #4c4d57;
    color: white;
}


.icon {
    width: 50px;
    height: 50px;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 10px;
}


.icon-home{
    width: 50px;
    height: 40px;
    margin-top: 63px;
    margin-left: 0px;
}

.aaa{
    height: 40px;
    width: 50px;
}




.user-section {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}



.logo {
    margin-top: 10px;
    margin-right: 301px;
    max-width: 12rem;

}

.review-section {
    display: flex;
    flex-direction: column;

}


.review-input {
    text-indent: 10px;
    height: 50px;
    border-radius: 7px;
    width: 300px;
}

.review-box {
    width: 500px;
    height: 150px;
    background-color: #edf0e9;
    border-radius: 10px;
    border: 1px solid;

}

.review-item {
    margin-left: 20px;
}


.checked {
    color: orange;
    -webkit-text-stroke: 0.5px rgb(2, 2, 2);
    /* Outline in orange */

}


.fa-star.empty {
    color: rgba(0, 0, 0, 0);
    /* Fully transparent */
    -webkit-text-stroke: 0.5px rgb(2, 2, 2);
    /* Outline in orange */
}


.rating-input {
    display: flex;
    direction: rtl;
    margin-right: 700px;
}

.description-container {
    height: 100px;
    margin-top: 30px;

}

.rating-input input[type="radio"] {
    display: none;
}

.rating-input label {
    color: gray;
    font-size: 2rem;
    padding: 0;
    cursor: pointer;
    transition: color 0.2s;
}

.rating-input label:before {
    content: "\f005";
    font-family: FontAwesome;
}

.rating-input input[type="radio"]:checked~label {
    color: orange;
}

.rating-input input[type="radio"]:hover~label,
.rating-input label:hover,
.rating-input label:hover~label {
    color: orange;
}


.submit-button {
    width: 90px;
    height: 55px;
    margin-right: 10px;
    font-weight: bold;

    
    border: 2px solid black;
    border-radius: 10px;
    background-color: green;
    color: white;


}

button:hover {
    background-color: #4c4d57;
    color: white;
    cursor: pointer;
}



.book-read-button{
    height: 40px;
    width: 120px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: green;
    color: white;
}

.book-marked{
    background-color: rgb(11, 53, 11);
    height: 40px;
    width: 120px;
    border: 3px solid black;
    border-radius: 10px;
    color: white;
}



@media screen and (max-width: 500px) {
    .book-container {
        margin-top: 100px;
        margin-bottom: 200px;
        display: flex;
        flex-direction: column;
    }

    img {
        width: 70%;
        height: 70%;
        margin-left: 50px;

    }


    .description {
        max-width: 320px;

    }

    .user-section {
        display: flex;
        flex-direction: row;
        margin-top: 70px;
    }

}